/* EASYREADER */
/* Hide extraneous components */
.easyreader #mw-panel,
.easyreader #left-navigation,
.easyreader #right-navigation {
    display:none;
}
 
.easyreader div#p-personal li:not(#pt-easyreader) {
    display:none;
}
 
/* Remove some styles we don't need */
.easyreader div#toc {
    border: 0px;
}
 
.easyreader #mw-page-base {
    background-image: none;
    background-color: transparent;
}
 
.easyreader *:not(.navpopup)[style] {
    background-color: transparent !important;
    border: 0px !important;
}
 
/* Make everything look nice */
.easyreader body {
    background-color: rgb(248, 248, 248);
    font-family: Georgia,"DejaVu Serif",serif;
}
 
.easyreader div#content.mw-body {
    background-color: transparent;
    max-width: 800px;
    margin: 0 auto;
    border: 0;
    color: rgb(48, 44, 34);
    font-size: 1.5em;
    text-rendering: optimizeLegibility;
}
 
.easyreader div#content.mw-body p,
.easyreader div#content.mw-body ol,
.easyreader div#content.mw-body ul,
.easyreader div#content.mw-body dd {
    line-height: 2em;
}
 
.easyreader div#content.mw-body p {
	margin: 1.2em 0;
}
 
.easyreader a {
    word-wrap: break-word;
}
 
.easyreader li#pt-easyreader {
    font-size: 1em;
}
 
.easyreader element {
    background: rgb(256, 256, 256);
}
 
.easyreader div#content.mw-body ul li {
    list-style: disc outside none;
}
 
.easyreader #content #firstHeading {
    line-height:30pt;
}